@import 'configure/mediaConfig.scss';

$nav_menu_z_index: 900;

@media all and (min-width: $media-width-desktop-min) and (max-width: $media-width-desktop) {
  .menu-section {
    position: absolute;
    top: 0;
    left: 0;

    .menu-inner {
      width: 100vw;

      .menu-wrap {
        margin: 0 auto;

        .menu-bar {
          position: relative;

          z-index: $nav_menu_z_index;

          width: 100vw;
          height: 8vh;

          padding: 2vh 3vw 0vh 3vw;
          margin: 0 auto;

          .menu-bar-brand {
            float: left;
          }

          .menu-bar-logo {
            width: 88px;
          }

          .menu-bar-btn-trial {
            width: 128px;
          }

          .menu-bar-items {
            display: flex;

            float: right;
            vertical-align: middle;

            .menu-bar-item {
              margin-left: 5vw;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: $media-width-tablet-min) and (max-width: $media-width-tablet) {
  .menu-section {
    position: absolute;
    top: 0;
    left: 0;

    .menu-inner {
      width: 100vw;

      .menu-wrap {
        margin: 0 auto;

        .menu-bar {
          position: relative;

          z-index: $nav_menu_z_index;

          width: 100vw;
          height: 8vh;

          max-width: $media-width-desktop-content + 160px;

          padding: 2vh 3vw 0vh 3vw;
          margin: 0 auto;

          .menu-bar-brand {
            float: left;
          }

          .menu-bar-logo {
            width: 90px;
          }

          .menu-bar-btn-trial {
            width: 138px;
          }

          .menu-bar-items {
            display: flex;

            float: right;
            vertical-align: middle;

            .menu-bar-item {
              margin-left: 5vw;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: $media-width-mobile-min) and (max-width: $media-width-mobile) {
  .menu-section {
    position: absolute;
    top: 0;
    left: 0;
    
    .menu-inner {   
      width: 100vw;

      .menu-wrap {
        margin: 0 auto;
        
        .menu-bar {
          position: relative;
          
          z-index: $nav_menu_z_index;
          
          width: 100vw;
          height: 8vh;

          max-width: $media-width-desktop-content + 160px;
          
          padding: 2vh 3vw 0vh 3vw;
          margin: 0 auto;

          .menu-bar-brand {
            float: left;
          }

          .menu-bar-logo {
            width: 90px;
          }

          .menu-bar-btn-trial {
            width: 138px;
          }

          .menu-bar-items {
            display: flex;
            
            float: right;
            vertical-align: middle;

            .menu-bar-item {
              margin-left: 5vw;
            }
          }
        }
      }
    }
  }
}
