@import 'configure/mediaConfig.scss';
@import 'configure/componentsConfig.scss';

@media all and (min-width: $media-width-desktop-min) and (max-width: $media-width-desktop) {
  .float-box {
    z-index: 100;

    .float-box-icon {
      position: relative;

      .color-line {
        position: absolute;
        top: 0;
        left: -0.16vw;

        background: #fca800;

        height: 3vw;
        width: 0.36vw;

        margin-top: 0.5vw;
      }

      padding-left: 1.4vw;

      img {
        width: 3.2vw;
        max-width: 56px;
      }
    }
    .text-box-wrap {
      .text-box {
        padding: 4vh 1vw 0 1vw;

        .title {
          font-size: 1.2em;
          line-height: 0.86;
          font-family: 'S-CoreDream-6';
        }

        .sub-text {
          margin-top: 1vh;
          font-size: 0.9em;
          line-height: 1.44;
          font-family: 'S-CoreDream-3';
        }
      }
    }
  }

  .content-membership-section {
    position: relative;

    width: 100vw;
    height: 100vh;

    @media all and (max-width: $media-width-desktop-content + 160px) {
      padding: 0vh $media-width-desktop-content-padding;
    }

    @media all and (min-width: $media-width-desktop-content + 160px) {
      padding: 0vh 0vw;
    }

    .content-membership-inner {
      max-width: $media-width-desktop-content;
      margin: 0 auto;

      .content-membership-image-box-wrap {
        position: absolute;
        top: 15vh;
        right: 0;

        .content-membership-image-box {
          width: 25vw;
          max-width: 445px;

          img {
            width: 100%;
          }
        }
      }

      .content-membership-background-rectangle-wrap {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100vh;

        .content-membership-background-rectangle {
          position: absolute;
          left: 0;
          bottom: 0;

          width: 70vw;
          height: 120vh;

          background-color: #f8f8fa;
        }
      }

      @media all and (min-width: $media-width-desktop-content) {
        ul {
          margin: 0;
          padding: 0;
        }

        .content-membership-float-box-item-list {
          position: relative;
          width: 100%;
          text-align: left;

          li {
            position: relative;
            display: inline-block;
            width: 25%;
          }

          li:nth-child(1) {
            .li-float-box-1 {
              position: absolute;
              top: 10vh;
            }

            .li-float-box-2 {
              position: absolute;
              bottom: 10vh;
            }
          }

          li:nth-child(2) {
            .li-float-box {
              position: absolute;
              top: 42.8vh;
            }
          }

          .content-membership-float-box-item {
            position: relative;
            height: 100vh;

            .vertical-line {
              position: absolute;
              bottom: 0;

              width: 1px;

              height: 120vh;
              border: solid 0.5px #e0e0e0;
            }
          }
        }

        .content-membership-text-box-wrap {
          position: absolute;
          bottom: 0;
          right: 0;

          margin: 0 4vw 12vh 0;
          .content-membership-text-box {
            position: relative;

            width: 30vw;
            max-width: 495px;

            text-align: left;

            font-size: 3em;
            font-family: 'S-CoreDream-5';
            line-height: 1.46;
            color: #222222;

            .highlight {
              color: #fca800;
            }
          }
        }
      }

      @media all and (max-width: $media-width-desktop-content) {
        ul {
          margin: 0;
          padding: 0;
        }

        .content-membership-float-box-item-list {
          position: relative;
          width: 100%;
          text-align: left;

          li {
            position: relative;
            display: inline-block;
            width: 25%;
          }

          li:nth-child(1) {
            .li-float-box-1 {
              position: absolute;
              top: 10vh;
            }

            .li-float-box-2 {
              position: absolute;
              bottom: 10vh;
            }
          }

          li:nth-child(2) {
            .li-float-box {
              position: absolute;
              top: 38.5vh;
            }
          }

          .content-membership-float-box-item {
            position: relative;
            height: 100vh;

            .vertical-line {
              position: absolute;
              bottom: 0;

              width: 1px;

              height: 120vh;
              border: solid 0.5px #e0e0e0;
            }
          }
        }

        .content-membership-text-box-wrap {
          position: absolute;
          bottom: 0;
          right: 0;

          margin: 0 4vw 12vh 0;
          .content-membership-text-box {
            position: relative;

            width: 30vw;
            max-width: 495px;
            
            text-align: left;

            font-size: 2.4em;
            font-family: 'S-CoreDream-5';
            line-height: 1.46;
            color: #222222;

            .highlight {
              color: #fca800;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: $media-width-tablet-min) and (max-width: $media-width-tablet) {
  .content-membership-section {
    display: none;
  }
}

@media all and (min-width: $media-width-mobile-min) and (max-width: $media-width-mobile) {
  .content-membership-section {
    display: none;
  }
}
