@import "Configure/mediaConfig.scss";

$slick-slider-background-color: #eaeff5;
$slick-slider-item-size: 10vw;
$slick-slider-item-radius: 1vw;
/** Contents - Map **/
@media all and (min-width: $media-width-desktop) {
    /** Service **/
    .content-map {
        position: relative;

        overflow: hidden;

        width: 100vw;
        height: 100vh;

        background-color: rgb(245, 246, 250);

        .content-map-inner {
            position: relative;

            max-width: $media-width-max;
            min-width: $media-width-desktop;

            margin: 0 auto;


            .map-box {
                position: relative;
                padding: 6vh 8vw 0 8vw;
                
                .head {
                    position: relative;
                    margin-bottom: 4vh;

                    .text {
                        position: relative;
                        padding-right: 1.8vw;
    
                        .icon {
                            position: relative;
                            top: 0.3vh;
    
                            height: 3.6vh;
                            padding: 0 1.6vw;
                        }
    
                        font-size: 2.4vw;  
                        color: rgb(77, 89, 106);  
                    }
                }
    
                .map {
                    margin: 0 auto;
                    
                    width: 70vw;
                    max-width: 1004px;
    
                    height: 55vh;
                    //max-height: 480px;
    
                    border-radius: 1vw;
                }
    
            }

            .slider-box {
                position: relative;
                top: 5vh;

                .slider {
                    position: relative;

                }
            }
        }
    }

    .slick-slider {
        width: 100%;
        height: $slick-slider-item-size;

        overflow: hidden;

        margin: 0 auto;
    }

    .slick-arrow {
        display: none !important;

        top: 10.5vh !important;
        z-index: 106 !important;
        opacity: 1 !important; 
    }
    .slick-prev {
        left: 150px !important;
    }

    .slick-next {
        right: 150px !important;
    }

    .slick-slide {
        background: $slick-slider-background-color;
        text-align: center;
        color: rgb(77, 89, 106);

        font-size: 20px;

        border-radius: $slick-slider-item-radius;
        
        height: $slick-slider-item-size !important;
        width: $slick-slider-item-size !important;
        margin: 0 1.3vw;

        display: table !important;
    }
    
    .slick-slide div {
        display: table-cell;
        vertical-align: middle;
    }
}