@import 'configure/mediaConfig.scss';
@import 'configure/componentsConfig.scss';

@media all and (min-width: $media-width-desktop-min) and (max-width: $media-width-desktop) {
  .payment-section {
    position: relative;

    font-family: 'SCoreDreamBold';
    
    .payment-container {
      position: relative;
    }
    .payment-footer {
      position: relative;

      background-color: #d6dbe0;

      padding: 5em;
    }
  }
}

@media all and (min-width: $media-width-tablet-min) and (max-width: $media-width-tablet) {
  .payment-section {
    position: relative;

    font-family: 'SCoreDreamBold';
    .payment-container {
      position: relative;
    }
    .payment-footer {
      position: relative;

      background-color: #d6dbe0;
      
      padding: 5em;
    }
  }
}

@media all and (min-width: $media-width-mobile-min) and (max-width: $media-width-mobile) {
  .payment-section {
    position: relative;

    font-family: 'SCoreDreamBold';

    .payment-container {
      position: relative;
    }
    .payment-footer {
      position: relative;

      background-color: #d6dbe0;

      padding: 1em 5em;

      text-align: center;
      font-size: 0.6em;
      line-height: 1.7em;
    }
  }
}
