@import 'configure/mediaConfig.scss';

@media all and (min-width: $media-width-desktop-min) and (max-width: $media-width-desktop) {
  .payment-section {
    position: relative;

    font-family: 'S-CoreDream-Bold';
    
    .payment-container {
      position: relative;
    }
  }
}

@media all and (min-width: $media-width-tablet-min) and (max-width: $media-width-tablet) {
  .payment-section {
    position: relative;

    font-family: 'S-CoreDream-Bold';
    .payment-container {
      position: relative;
    }
  }
}

@media all and (min-width: $media-width-mobile-min) and (max-width: $media-width-mobile) {
  .payment-section {
    position: relative;

    font-family: 'S-CoreDream-Bold';

    .payment-container {
      position: relative;
    }
  }
}
