@import 'configure/mediaConfig.scss';
@import 'configure/componentsConfig.scss';

@media all and (min-width: $media-width-desktop-min) and (max-width: $media-width-desktop) {
  .out-container {
    .out-container {
      position: relative;
  
      .inner-container {
        position: relative;
  
        .contents {
          position: relative;
        }
      }
    }
  }
}

@media all and (min-width: $media-width-tablet-min) and (max-width: $media-width-tablet) {
  .out-container {
    position: relative;

    .inner-container {
      position: relative;

      .contents {
        position: relative;
      }
    }
  }
}

@media all and (min-width: $media-width-mobile-min) and (max-width: $media-width-mobile) {
  .out-container {
    position: relative;

    .inner-container {
      position: relative;

      .contents {
        position: relative;
      }
    }
  }
}
