@import "Configure/mediaConfig.scss";

/**
 * Contents - Trial 
 **/
 @media all and (min-width: $media-width-desktop) {
    /** Service **/
    .content-trial {
        position: relative;

        overflow: hidden;

        width:  84vw;
        height: 100vh;
        padding: 0 8vw;

        background-color: rgb(245, 246, 250);

        .content-trial-inner {
            position: relative;

            max-width: $media-width-max;
            min-width: $media-width-desktop;

            margin: 0 auto;

            padding-top: 16vh;

            /** Title **/
            .text-box {
                .text {
                    font-family: 'NanumSquareBold';
                    text-align: center;
                    line-height: 6vw;
                    font-size: 4.2vw;
                    color: rgb(77, 89, 106);
                } 
            }

            .btn-box {
                margin: 0 auto;
                padding-top: 32vh;
                width: 16vw;

                .btn {
                    cursor: pointer;

                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

    }
}
