@import 'configure/mediaConfig.scss';
@import 'configure/componentsConfig.scss';

@media all and (min-width: $media-width-desktop-min) and (max-width: $media-width-desktop) {
  .footer-section {
    .footer-inner {

      .footer-box-wrap {
        position: relative;
        
        .footer-box {
          position: relative;

          font-family: 'S-CoreDream-Bold';

          background-color: #f8f8fa;
          color: #818991;

          padding: 10vh 6vw 3vh 6vw;
    
          text-align: left;
          font-size: 0.9em;
          line-height: 1.6;
        }
      }
    }
  }
}

@media all and (min-width: $media-width-tablet-min) and (max-width: $media-width-tablet) {
  .footer-section {
    .footer-inner {

      .footer-box-wrap {
        position: relative;
        
        .footer-box {
          position: relative;
          
          font-family: 'S-CoreDream-Bold';

          background-color: #f8f8fa;
          color: #818991;

          padding: 4em 4em;
    
          padding: 10vh 6vw 3vh 6vw;
    
          text-align: left;
          font-size: 0.76em;
          line-height: 1.5;
        }
      }
    }
  }
}

@media all and (min-width: $media-width-mobile-min) and (max-width: $media-width-mobile) {
  .footer-section {
    .footer-inner {

      .footer-box-wrap {
        position: relative;
        
        .footer-box {
          position: relative;

          font-family: 'S-CoreDream-Bold';
          
          background-color: #f8f8fa;
          color: #818991;

          padding: 1em 5em;
    
          text-align: center;
          font-size: 0.5em;
          line-height: 1.7em;
        }
      }
    }
  }
}
