@import "Configure/mediaConfig.scss";

$explain-title-color: #5f6c7d;
$explain-title-number-color: $explain-title-color;
$explain-text-color: $explain-title-color;
/**
 * Contents - Service 
 **/
 @media all and (min-width: $media-width-desktop) {
    /** Service **/
    .content-service {
        position: relative;

        overflow: hidden;

        width:  100vw;
        height: 100vh;

        background-color: white;

        .content-service-inner {
            position: relative;

            max-width: $media-width-max;
            min-width: $media-width-desktop;

            margin: 0 auto;

            padding: 0 8vw;

            .explain-boxs {                
                position: relative;
                
                padding: 10vh 0 0 8vw;
    
                .explain-box {
                    position: relative;
    
                    text-align: left;
                    min-height: 15vh;
    
                    margin-bottom: 6vh;
                    
                    .explain-title {
                        position: relative;
    
                        font-family: 'NanumSquareBold';
                        color: $explain-title-color;

                        .number {
                            position: absolute;
                            top: 0;
                            left: 0;

                            font-size: 1.2vw;
                        }
        
                        .title {
                            position: absolute;
                            top: 0;
                            left: 2.2vw;

                            font-size: 2.8vw;
                        }
                    }
    
                    .explain-text {
                        position: relative;
                        
                        top: 7vh;
                        left: 2.2vw;

                        font-family: 'NanumSquare';
                        font-size: 1.1vw;
                        line-height: 1.5vw;
    
                        color: $explain-text-color;
                    }
                }
            }
        }

        .explain-image-box {
            position: absolute;
            top: 16vh;
            right: 0;

            width: 46%;
            max-width: 1004;
            
            .explain-image {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}