@import 'configure/mediaConfig.scss';
@import 'configure/componentsConfig.scss';

@media all and (min-width: $media-width-desktop-min) and (max-width: $media-width-desktop) {
  .homepage-section {
    max-width: 100%;
    
    text-align: center;
  
    position: relative;
  }
}

@media all and (min-width: $media-width-tablet-min) and (max-width: $media-width-tablet) {
  .homepage-section {
    max-width: 100%;
    
    text-align: center;
  
    position: relative;
  }
}

@media all and (min-width: $media-width-mobile-min) and (max-width: $media-width-mobile) {
  .homepage-section {
    max-width: 100%;
    
    text-align: center;
  
    position: relative;
  }
}
