@import 'resource/Fonts/Fonts.scss';

body {
  width: 100%;
  height: 100%;

  margin: 0 auto;

  background-color: #ffffff;
  color: #222222;

  font-family: 'S-CoreDream', 'S-CoreDream-Bold', 'S-CoreDream-Ltd', 'S-CoreDream-1',
    'S-CoreDream-2', 'S-CoreDream-3', 'S-CoreDream-4', 'S-CoreDream-5', 'S-CoreDream-6',
    'S-CoreDream-7', 'S-CoreDream-8', 'S-CoreDream-9', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
  border: none;
  outline: none;
}

a {
  color: #222222;
  outline: none;
}

a:hover {
  color: #222222;
}

a:active {
  color: #222222;
}

button {
  outline: none;
  border: none;

  background: none;
  padding: 0;

  cursor: pointer;
}

li {
  list-style-type: none;
}
