@import 'resource/Fonts/Fonts.scss';
@import 'node_modules/react-modal-video/scss/modal-video.scss';

body {
  font-family: $fontAll, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
