//@import "src/Resource/Fonts/Fonts.scss"; // Fonts




/** Contents - Main **/
@media all and (min-width: 1025px) {
    /** Service **/
    .content-main {
        max-width: 100%;
        min-width: 1025px;

        height: 100%;

        margin: 0 auto;

        background-color: rgb(77, 89, 106);
        position: relative;

        /** Title **/
        .title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 35%;
        
            .text {
                text-align: center;
                
                line-height: 4vw;
                font-size: 6vw;
                color: rgb(245, 246, 250);
            }
        }
    }
}

/** Contents - Map **/
@media all and (min-width: 1025px) {
    /** Service **/
    .content-map {
        max-width: 100%;
        min-width: 1025px;

        height: 100%;

        margin: 0 auto;

        background-color: rgb(245, 246, 250);
        position: relative;

        .map {
            padding: 13% 0 10% 5%;
            height: 50%;

            .NaverMap {
                width: 50%;
                height: 100%;
                border-radius: 3%;
            }
        }
    }
}

/** Contents - Service **/
@media all and (min-width: 1025px) {
    /** Service **/
    .content-service {
        max-width: 100%;
        min-width: 1025px;

        height: 100%;

        margin: 0 auto;

        background-color: rgb(255, 255, 255);
        position: relative;

        /** Title **/
        .explain {                
            position: relative;
            top:     35%;
            left:    15%;
            .title {
                text-align: left;
                line-height: 4vw;

                .number {
                    font-size: 2vw;
                }

                .text {
                    font-size: 3vw;
                    color: #282c34;
                }

                .subText {
                    
                }
            }
        }
    }
}


/** Contents - Trial **/
@media all and (min-width: 1025px) {
    /** Service **/
    .content-trial {
        max-width: 100%;
        min-width: 1025px;

        height: 100%;

        margin: 0 auto;

        background-color: rgb(245, 246, 250);
        position: relative;

        /** Title **/
         .title {
            position: absolute;
            top:   38px;
            right: 21%;

            .text {
                text-align: left;
                line-height: 4vw;
                font-size: 3vw;
                color: #282c34;
            } 
        }
    }
}

/** Contents - Works **/
@media all and (min-width: 1025px) {
    /** Service **/
    .content-works {
        max-width: 100%;
        min-width: 1025px;

        height: 100%;

        margin: 0 auto;

        background-color: rgb(245, 246, 250);
        position: relative;
        justify-content: center;

        /** Title **/
        .control {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            bottom: 25%;

            .title {
                margin-bottom: 200px;
                .text {
                    text-align: center;
                    
                    line-height: 6vw;
                    font-size: 4vw;
                    color: rgb(77, 89, 106);

                    .value {
                        color: rgb(162, 176, 192);
                    }
                }            
            }
            
            .slider-bar {
                width: 62%;
                margin: 0 auto;
            }
        }
    } 
}



.slider-bar {
    display: block;
    position: relative;
    height: 25px;
    border-radius: 13px;
    background: rgb(229,235,242);;
    
    .slider-button {
      user-select: none;
      cursor: pointer;

      position: absolute;
      top: -40%;
      left: 0;

      height: 35px;
      width: 35px;
      margin-left: -17.5px;

      border-style: solid;
      border-color: rgb(110,124,142);
      border-radius: 50px;

      background: rgb(245, 246, 250);
    }
}