@import "Configure/mediaConfig.scss";


/**
 * Contents - Main 
 **/
@media all and (min-width: $media-width-desktop) {
    /** Service **/
    .content-main {
        position: relative;

        overflow: hidden;

        max-width: 100%;
        min-width: $media-width-desktop;

        height: 100%;

        margin: 0 auto;

        background-color: rgb(77, 89, 106);

        /** Title **/
        .title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 35%;
        
            .text {
                text-align: center;
                
                line-height: 4vw;
                font-size: 6vw;
                color: rgb(245, 246, 250);
            }
        }
    }
}

/** Contents - Map **/
@media all and (min-width: $media-width-desktop) {
    /** Service **/
    .content-map {
        position: relative;

        overflow: hidden;

        max-width: 100%;
        min-width: $media-width-desktop;

        height: 100%;

        margin: 0 auto;

        background-color: rgb(245, 246, 250);

        .map {
            position: relative;

            padding: 7vh 11vw 6vh 11vw;

            .map-title {
                position: relative;

                margin-bottom: 5vh;

                .area {
                    position: relative;

                    .map-pin {
                        position: relative;
                        top: 1vh;

                        height: 5vh;
                        padding: 0 2vw;
                    }

                    font-size: 2.4vw;  
                    color: rgb(77, 89, 106);  
                }
            }

            .NaverMap {
                width: 100%;
                height: 50vh;
                border-radius: 3vw;
            }

        }
    }

.slick-slider {
    width: 100%;
    height: 21vh;

    overflow: hidden;

    margin: 0 auto;
}

.slick-arrow {
    top: 10.5vh !important;
    z-index: 106 !important;
    opacity: 1 !important; 
}
.slick-prev {
    left: 150px !important;
}

.slick-next {
    right: 150px !important;
}

.slick-slide {
    background: rgb(234, 239, 245);
    text-align: center;
    color: rgb(77, 89, 106);

    font-size: 20px;

    border-radius: 3vh;
    
    height: 21vh !important;
    width: 21vh !important;
    margin: 0 1.3vw;

    display: table !important;
}
  
.slick-slide div {
    display: table-cell;
    vertical-align: middle;
}
}


/**
 * Contents - Service 
 **/
@media all and (min-width: $media-width-desktop) {
    /** Service **/
    .content-service {
        position: relative;

        overflow: hidden;

        max-width: 100%;
        min-width: $media-width-desktop;

        height: 100%;

        margin: 0 auto;

        background-color: rgb(255, 255, 255);

        /** Title **/
        .explain {                
            position: relative;

            padding: 11vh 15vw 11vh 15vw;

            .explain-box {
                position: relative;

                text-align: left;
                min-height: 15vh;

                .explain-title {
                    position: relative;
                    margin-bottom: 1em;

                    .number {
                        position: absolute;
                        top: -.5vw;
                        left: 0;

                        font-size: 1.5vw;
                    }
    
                    .title {
                        position: absolute;
                        top: 0;
                        left: 3vw;
                        font-size: 2.5vw;
                        color: #282c34;
                    }
                }

                .explain-text {
                    position: relative;
                    
                    top: 4vw;
                    left: 4%;

                    margin-left: 2%;
                    margin-bottom: 3em;

                    font-size: 1.1vw;
                    line-height: 1.5vw;

                    color: #282c34;
                }
            }

            .explain-image {
                position: absolute;
                top: 3vw;
                right: 0;
                
                width: 50vw;
            }
        }
    }
}


/**
 * Contents - Trial 
 **/
@media all and (min-width: $media-width-desktop) {
    /** Service **/
    .content-trial {
        position: relative;

        overflow: hidden;

        max-width: 100%;
        min-width: $media-width-desktop;

        height: 110%;

        margin: auto 0;

        background-color: rgb(245, 246, 250);

        /** Title **/
         .title {
            position: relative;

            top: 15vh;

            .text {
                text-align: center;
                line-height: 5vw;
                font-size: 4vw;
                color: rgb(77, 89, 106);
            } 
        }
    }
}

/**
 * Contents - Works 
 **/
@media all and (min-width: $media-width-desktop) {
    /** Service **/
    .content-works {
        position: relative;

        overflow: hidden;

        max-width: 100%;
        min-width: $media-width-desktop;

        height: 100%;

        margin: 0 auto;

        background-color: rgb(245, 246, 250);

        /** Title **/
        .controlBox {
            position: absolute;
            left:0;
            right:0;

            background-color: rgb(245, 246, 250);

            margin: 0 auto;

            bottom: 30%;
            
            width: 80%;

            .title {
                margin-bottom: 15vh;

                .text {
                    text-align: center;
                    
                    line-height: 6vw;
                    font-size: 4vw;
                    color: rgb(77, 89, 106);

                    .value {
                        color: rgb(162, 176, 192);
                    }
                }            
            }
            
            .slider-bar {
                width: 62%;
                margin: 0 auto;
            }
        }

        .displayBox {
            position: absolute;
            right: -50vw;

            height: 100%;
            width: 50%;

            padding: 11vh 0vw 0vh 0vw;

            background-color: rgb(255, 255, 255);
            .title {
                .value {
                    color: rgb(207, 75, 71);
                }
                font-size: 3vw;

                margin-bottom: 4vh;
            }
            .text {
                padding: 5vh 8vw 0vh 8vw;
                font-size: 1.4vw;
                line-height: 4vh;

                .category {
                    text-align: left;
                    .value {
                        float: right;
                        width: 5vw;

                        text-align: left;
                        color: rgb(207, 75, 71);

                        .counter {
                            color: black;
                        }
                    }

                }
            }
        }

        .resultBox {
            position: absolute;
            right: -50vw;
            top: 60%;

            .average {
                position: absolute;
                top: 0;
                right: 0;

                background-color: rgb(241, 236, 230);
                height: 10vh;
                width: 32vw;

                .text {
                    position: relative;
                    left: -1.6vw;

                    line-height: 10vh;
                    vertical-align: middle;

                    color: rgb(116, 103, 103);

                    text-align: left;
                    font-size: 1.1vw;

                    .value {
                        float: right;
                        margin-right: 3vw;

                        line-height: 10vh;
                        vertical-align: middle;

                        color: rgb(0, 0, 0);
                        font-size: 1.2vw;
                    }
                }
            }


            .result {
                position: absolute;
                top: 15vh;
                right: 0;

                background-color: rgb(207, 75, 71);

                height: 10vh;
                width: 20vw;

                .text {
                    line-height: 10vh;
                    vertical-align: middle;

                    color: rgb(255, 255, 255);

                    text-align: left;
                    font-size: 1.5vw;
                }
            }
        }
    } 
    // Slider-bar-component
    .slider-bar {
        position: relative;

        display: block;
        
        height: 2.5vh;
        border-radius: 3vh;

        background: rgb(229,235,242);;
        
        .slider-button {
        user-select: none;
        cursor: pointer;

        position: relative;
        top:  -0.7vh;

        height: 3vh;
        width: 3vh;

        margin-left: -1.75vh;

        border-style: solid;
        border-color: rgb(110,124,142);
        border-radius: 3vh;

        background: rgb(245, 246, 250);
        }
    }
}

