@import 'configure/mediaConfig.scss';
@import 'configure/componentsConfig.scss';

@media all and (min-width: $media-width-desktop-min) and (max-width: $media-width-desktop) {
  /** Service **/
  .content-main {
    position: relative;

    overflow: hidden;

    width: 100vw;
    height: 80vh;
    padding: 0 8vw;

    background-color: white;

    .content-main-inner {
      position: relative;

      max-width: $media-width-max;
      min-width: $media-width-desktop;

      margin: 0 auto;

      /** Title **/
      .main-head-box {
        position: relative;
        left: 0;

        color: black;

        .text-box {
          display: table;
          height: 80vh;

          .title {
            display: table-cell;
            vertical-align: middle;

            font-family: 'NanumSquare';
            text-align: left;
            font-size: 4vw;

            .highlight {
              font-family: 'BMDOHYEON';
            }

            .sub-text {
              margin-top: 3vh;
              font-size: 1.5vw;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: $media-width-tablet-min) and (max-width: $media-width-tablet) {
  /** Service **/
  .content-main {
    position: relative;

    overflow: hidden;

    width: 100vw;
    height: 80vh;
    padding: 0 8vw;

    background-color: #9aa6b7;

    .content-main-inner {
      position: relative;

      max-width: $media-width-max;
      min-width: $media-width-desktop;

      margin: 0 auto;

      /** Title **/
      .main-head-box {
        position: relative;
        left: 0;

        color: black;

        .text-box {
          display: table;
          height: 80vh;

          .title {
            display: table-cell;
            vertical-align: middle;

            font-family: 'NanumSquare';
            text-align: left;
            font-size: 4em;

            .highlight {
              font-family: 'BMDOHYEON';
            }

            .sub-text {
              margin-top: 3vh;
              font-size: 1.5vw;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: $media-width-mobile-min) and (max-width: $media-width-mobile) {
  /** Service **/
  .content-main {
    position: relative;

    overflow: hidden;

    width: 100vw;
    height: 80vh;
    padding: 0 8vw;

    background-color: #9aa6b7;

    .content-main-inner {
      position: relative;

      max-width: $media-width-max;
      min-width: $media-width-desktop;

      margin: 0 auto;

      /** Title **/
      .main-head-box {
        position: relative;
        left: 0;

        color: black;

        .text-box {
          display: table;
          height: 80vh;

          .title {
            display: table-cell;
            vertical-align: middle;

            font-family: 'NanumSquare';
            text-align: left;
            font-size: 4vw;

            .highlight {
              font-family: 'BMDOHYEON';
            }

            .sub-text {
              margin-top: 3vh;
              font-size: 1.5vw;
            }
          }
        }
      }
    }
  }
}
