@import 'configure/mediaConfig.scss';
@import 'configure/componentsConfig.scss';

@media all and (min-width: $media-width-desktop-min) and (max-width: $media-width-desktop) {
  .content-main-section {
    position: relative;

    width: 100vw;
    height: 100vh;

    @media all and (max-width: $media-width-desktop-content + 160px) {
      padding: 0vh $media-width-desktop-content-padding;
    }

    @media all and (min-width: $media-width-desktop-content + 160px) {
      padding: 0vh 0vw;
    }

    .content-main-inner {
      max-width: $media-width-desktop-content;
      margin: 0 auto;

      .content-main-head-wrap {
        display: table;

        height: 100vh;
        .content-main-head-box {
          display: table-cell;
          vertical-align: middle;

          @media all and (min-width: $media-width-desktop-content) {
            .content-main-text-box-wrap {
              position: relative;

              .content-main-text-box {
                text-align: left;
                font-size: 4em;
                line-height: 1.33;

                .highlight {
                  font-family: 'S-CoreDream-Bold';
                }

                .sub-text {
                  margin: 0.8em 0 0 0.4em;
                  font-size: 0.32em;
                  line-height: 1.33;
                }
              }
            }
            .content-main-btn-box-wrap {
              margin-top: 66px;
              margin-bottom: 10vh;

              .content-main-btn-box {
                width: 10vw;
                max-width: 134px;
                min-width: 100px;

                img {
                  width: 100%;
                }
              }
            }
          }

          @media all and (max-width: $media-width-desktop-content) {
            .content-main-text-box-wrap {
              position: relative;

              .content-main-text-box {
                text-align: left;
                font-size: 3.5em;
                line-height: 1.33;

                .highlight {
                  font-family: 'S-CoreDream-Bold';
                }

                .sub-text {
                  margin: 0.8em 0 0 0.4em;
                  font-size: 0.28em;
                  line-height: 1.33;
                }
              }
            }
            .content-main-btn-box-wrap {
              margin-top: 66px;
              margin-bottom: 10vh;

              .content-main-btn-box {
                width: 10vw;
                max-width: 134px;
                min-width: 100px;

                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .main-image-wrap {
        position: absolute;
        top: 0;
        right: 0;

        z-index: 100;

        .main-image-box {
          overflow: hidden;
          max-width: 50vw;

          img {
            height: 100vh;
          }
        }
      }
    }
  }
}

@media all and (min-width: $media-width-tablet-min) and (max-width: $media-width-tablet) {
  .content-main-section {
    display: none;
  }
}

@media all and (min-width: $media-width-mobile-min) and (max-width: $media-width-mobile) {
  .content-main-section {
    display: none;
  }
}
